[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.2"
flask-script = "*"
flask-migrate = "==2.5.3"
flask-ckeditor = "*"
flask-moment = "*"
bootstrap-flask = "*"
flask-wtf = "*"
flask-mail = "*"
flask-login = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.7"
